<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
  <title>Lovt</title>
</head>
<body>
  <header>
    <div class="ladoALado">
      <h1>LOVT</h1>
      <h4>You Love,<br>your loft</h4>
    </div>
    <img src="/img/menu.png" alt="Menu" title="Menu">
  </header>
  <section>
    <div id="banner">
      <div id="areaCirculo">
        <div class="circulo">
        </div>
        <div class="circulo">
        </div>
      </div>
      <img src="/img/image1.png" alt="Banner" title="Banner" id="bannerImg">
    </div>
  </section>
</body>
</html>