<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
  <title>Lovt</title>
</head>
  <body>
    <header>
      <div class="ladoALado">
        <h1>LOVT</h1>
        <h4>You Love,<br>your loft</h4>
      </div>
      <img src="/img/menu.png" alt="Menu" title="Menu">
    </header>
    <section>
      <div id="banner">
        <div id="areaCirculo">
          <div class="circulo">
          </div>
          <div class="circulo">
          </div>
        </div>
        <img src="/img/image1.png" alt="Banner" title="Banner" id="bannerImg">
      </div>
    </section>
    <section>
      <div id="produtos">
        <div class="produtoItem">
          <img src="/img/image2.png" alt="Loft" title="Loft" class="imgProduto">
          <div class="infosProduto">
            <h2>$ 1,200</h2>
            <button id="new">New</button>
          </div>
          <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, 
            bibendum egestas augue arcu ut est. Suco de cevadiss, é um leite 
            divinis, qui tem lupuliz, matis, aguis e fermentis. Casamentiss 
            faiz malandris se pirulitá. Cevadis im ampola pa
          </p>
        </div>
        <div class="produtoItem">
          <img src="/img/image3.png" alt="Loft" title="Loft" class="imgProduto">
          <div class="infosProduto">
            <h2>$ 2,000</h2>
            <button id="sale">Sale</button>
          </div>
          <p>Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, 
            deitado sem dormir, sentado sem cochilar e fazendo pose. Nullam 
            volutpat risus nec leo commodo, ut interdum diam laoreet.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div id="estilos">
        <h2 id="txtEstilos">Your Style</h2>
        <div class="estiloItem">
          <div class="transparente">
            <h3>Industrial</h3>
          </div>
          <img src="/img/image4.png" alt="" class="imgEstilo">
        </div>
        <div class="estiloItem">
          <div class="transparente">
            <h3>Modern</h3>
          </div>
          <img src="/img/image5.png" alt="" class="imgEstilo">
        </div>
        <div class="estiloItem">
          <div class="transparente">
            <h3>Classic</h3>
          </div>
          <img src="/img/image6.png" alt="" class="imgEstilo">
        </div>
      </div>
    </section>
    <footer>
      <div id="areaRodape">
        <img src="/img/mapa.png" alt="Mapa" title="Mapa" id="mapa">
        <div>
          <h6>LOVT - You love, your loft!</h6>
          <h6>Broad St, Newark, NJ 07102 - USA</h6>
          <h6>+1 (973) 854-555-548</h6>
          <h6>contact@lovtrealstate.com</h6>
          <h6>OUR SOCIAL MEDIAS:</h6>
          <div id="redesSociais">
            <img src="/img/instagram.png" alt="Instagram" title="Instagram" class="redesSociais">
            <img src="/img/facebook.png" alt="Facebook" title="Facebook" class="redesSociais">
            <img src="/img/whatsapp.png" alt="WhatsApp" title="WhatsApp" class="redesSociais">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>